<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quote">Quote</a></li>
                <li><a href="/buy">Buy</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{block "content" .}}{{end}}
    </main>
    <footer>
        Thanks for visiting Rocco's page
    </footer>
</body>
</html>
